@using MvcYazGelProje.Models.Entity
@model List<uye>
@{
    ViewBag.Title = "KullaniciSil";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}


<div class="container col-md-10 pt-5">
    <div style="overflow-x:auto;">
        <table class="table table-striped text-white ">
            <tr style="background-color:grey">
                <th>Uye No</th>
                <th>Ad-Soyad</th>
                <th>TC</th>
                <th>Eposta</th>
                <th>Telefon</th>
                <th>Bölüm</th>
                <th>Görevi</th>

                <th> </th>
                <th> </th>

            </tr>

            @foreach (var k in Model)
            {

                <tr>
                    <td>@k.uye_no</td>
                    <td>@k.uyeAd @k.uyeSoyad </td>
                    <td>@k.uye_tc</td>
                    <td>@k.uyeEposta</td>
                    <td>@k.uye_gsm</td>
                    <td>@k.uye_bolumAd</td>
                    <td>@k.uye_gorevi</td>

                    <td style="text-align:center"><a href="/YoneticiPaneli/KullaniciSilme/@k.uye_no" class="btn btn-danger">Sil</a></td>
                    <td style="text-align:center"><a href="/YoneticiPaneli/KullaniciSilDetay/@k.uye_no" class="btn btn-sm btn-success">Güncelle</a></td>

                </tr>

            }


        </table>
    </div>
</div>


