@using MvcYazGelProje.Models.Entity
@model List<yonetici>
@{
    ViewBag.Title = "KullaniciSil";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}


<div class="container col-md-10 pt-5">
    <div style="overflow-x:auto;">
        <table class="table table-striped text-white ">
            <tr style="background-color:grey">
                <th>Yönetici ID</th>
                <th>Ad-Soyad</th>
                <th>TC</th>
                <th>Eposta</th>
                <th>Kullanıcı Adı</th>

                <th> </th>
                <th> </th>

            </tr>

            @foreach (var k in Model)
            {

                <tr>
                    <td>@k.yoneticiID</td>
                    <td>@k.yonetici_Ad @k.yonetici_Soyad </td>
                    <td>@k.yonetici_TC</td>
                    <td>@k.yonetici_mail</td>
                    <td>@k.yonetici_kullaniciAdi</td>




                    
                    <td style="text-align:center"><a href="/YoneticiPaneli/SıfreDegistirDetay/@k.yoneticiID" class="btn btn-sm btn-success">Güncelle</a></td>

                </tr>

            }


        </table>
    </div>
</div>


