@using MvcYazGelProje.Models.Entity
@model List<form>
@{
    ViewBag.Title = "Degerlendirme";
    Layout = "~/Views/Shared/OgretmenLayout.cshtml";
}

<div class="container col-md-10 pt-5">
    <div style="overflow-x:auto;">
        <table class="table table-striped text-white ">
            <tr style="background-color:grey">
                <th>Evrak No</th>
                <th>Öğrenci Ad-Soyad</th>
                <th>Başlangıç Tarih</th>
                <th>Bitiş Tarih</th>
                <th>Dönem</th>
                <th>Değerlendirme</th>
                <th>Staj/IME</th>
                <th>Sorumlu Öğretmen</th>
                <th>Başvuru Durumu</th>


                <th> </th>

            </tr>

            @foreach (var k in Model)
            {


                <tr>
                    <td>@k.staj_id</td>
                    <td>@k.uye.uyeAd @k.uye.uyeSoyad </td>
                    <td>@k.staj_baslangic</td>
                    <td>@k.staj_bitis</td>
                    <td>@k.stajDonemiYıl @k.stajDonemiDonem</td>
                    <td>@k.stajNotu</td>
                    <td>@k.stajIME</td>
                    <td>@k.sorumlu</td>
                    <td>@k.basvuruDurumu</td>



                    <td style="text-align:center"><a href="/OgretmenPanel/DegerlendirmeDetay/@k.staj_id" class="btn btn-sm btn-success">Detay</a></td>
                </tr>

            }


        </table>
    </div>
</div>

