@using MvcYazGelProje.Models.Entity
@model List<uye>
@{
    ViewBag.Title = "SıfreDegistir";
    Layout = "~/Views/Shared/KomisyonLayout.cshtml";
}

<div class="container col-md-10 pt-5">
    <div style="overflow-x:auto;">
        <table class="table table-striped text-white ">
            <tr style="background-color:grey">
                <th>Sicil Numarası</th>
                <th>Ad-Soyad</th>
                <th>TC</th>
                <th>Eposta</th>
                <th>Telefon</th>
                <th>Bölüm</th>


                <th> </th>
                <th> </th>

            </tr>

            @foreach (var k in Model)
            {

                <tr>
                    <td>@k.uye_no</td>
                    <td>@k.uyeAd @k.uyeSoyad </td>
                    <td>@k.uye_tc</td>
                    <td>@k.uyeEposta</td>
                    <td>@k.uye_gsm</td>
                    <td>@k.uye_bolumAd</td>



                    <td style="text-align:center"><a href="/KomisyonPanel/SıfreDegistirDetay/@k.uye_no" class="btn btn-sm btn-success">Şifre Değiştir</a></td>

                </tr>

            }


        </table>
    </div>
</div>

